# Adding more features

In [3]:
import pandas as pd

In [4]:
clients_train = pd.read_csv('clients_train_modified.csv', index_col='client_id')
clients_train

,regular_points_received_mean,regular_points_received_sum,express_points_received_mean,express_points_received_sum,regular_points_spent_mean,regular_points_spent_sum,express_points_spent_mean,express_points_spent_sum,purchase_mean,purchase_sum,first_issue_date,first_redeem_date,age,gender_F,gender_M,no_redeem
client_id,,,,,,,,,,,,,,,,
000012768d,6.425000,25.7,0.000,0.0,0.000000,0.0,0.000000,0.0,700.750000,2803.00,17383,17535,45.000000,0,0,0
000036f903,1.715625,54.9,1.875,60.0,0.000000,0.0,0.000000,0.0,306.406250,9805.00,17266,17279,72.000000,1,0,0
0001f552b0,5.260000,78.9,0.000,0.0,0.000000,0.0,0.000000,0.0,410.345333,6155.18,17347,17771,33.000000,1,0,0
00020e7b18,15.894444,286.1,0.000,0.0,-32.888889,-592.0,-1.666667,-30.0,1434.422778,25819.61,17497,17541,73.000000,0,0,0
000220a0a7,6.940000,104.1,0.000,0.0,0.000000,0.0,0.000000,0.0,573.771333,8606.57,17509,17808,46.379533,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fffd5cd0c6,1.950000,35.1,0.000,0.0,0.000000,0.0,0.000000,0.0,318.423889,5731.63,17343,17797,47.000000,0,1,0
fffd63dfe3,1.625000,6.5,0.000,0.0,0.000000,0.0,0.000000,0.0,335.127500,1340.51,17312,17578,31.000000,0,0,0
fffd8c9d7d,2.200000,11.0,0.000,0.0,0.000000,0.0,0.000000,0.0,327.306000,1636.53,17582,17712,48.000000,1,0,0
fffe0abb97,2.466667,22.2,0.000,0.0,-2.888889,-26.0,-16.666667,-150.0,301.824444,2716.42,17497,17573,35.000000,1,0,0
fffeca6d22,2.962500,47.4,0.000,0.0,0.000000,0.0,0.000000,0.0,177.053750,2832.86,17528,18220,77.000000,1,0,1

In [5]:
clients_test = pd.read_csv('clients_test_modified.csv', index_col='client_id')
clients_test

,regular_points_received_mean,regular_points_received_sum,express_points_received_mean,express_points_received_sum,regular_points_spent_mean,regular_points_spent_sum,express_points_spent_mean,express_points_spent_sum,purchase_mean,purchase_sum,first_issue_date,first_redeem_date,age,gender_F,gender_M,no_redeem
client_id,,,,,,,,,,,,,,,,
00010925a5,1.766667,31.8,0.0,0.0,-0.944444,-17.0,0.000000,0.0,326.833333,5883.00,17736,17788,83.0,0,0,0
00035a21d9,7.866667,23.6,0.0,0.0,-2.666667,-8.0,-10.000000,-30.0,597.313333,1791.94,17936,17957,69.0,0,0,0
00038f9200,1.725000,82.8,0.0,0.0,-0.604167,-29.0,0.000000,0.0,174.687500,8385.00,17872,17908,79.0,0,0,0
0004315e57,4.842857,67.8,0.0,0.0,-2.785714,-39.0,-4.285714,-60.0,542.142857,7590.00,17860,17929,38.0,0,0,0
0006fca4bf,11.800000,35.4,0.0,0.0,0.000000,0.0,0.000000,0.0,713.666667,2141.00,17947,18220,57.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fff9aa288c,4.210000,42.1,0.0,0.0,-4.600000,-46.0,0.000000,0.0,494.211000,4942.11,17854,17962,48.0,0,0,0
fff9f772f6,23.975000,95.9,0.0,0.0,0.000000,0.0,0.000000,0.0,1563.815000,6255.26,17372,17977,54.0,1,0,0
fffe0ed719,2.330000,69.9,0.0,0.0,0.000000,0.0,0.000000,0.0,347.249333,10417.48,17424,17512,69.0,0,0,0
fffea1204c,1.535294,26.1,0.0,0.0,-2.352941,-40.0,0.000000,0.0,252.771765,4297.12,17562,17602,73.0,1,0,0
fffff6ce77,6.915625,221.3,0.0,0.0,-9.437500,-302.0,0.000000,0.0,580.018438,18560.59,17381,17404,42.0,0,0,0

In [6]:
clients_train['redeem_delay'] =\
    clients_train.first_redeem_date - clients_train.first_issue_date

In [7]:
clients_test['redeem_delay'] =\
    clients_test.first_redeem_date - clients_test.first_issue_date

In [8]:
train_purch = pd.read_csv('train_purch.csv', 
                         parse_dates=['transaction_datetime'])
train_purch

,client_id,transaction_id,transaction_datetime,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,store_id,product_id,product_quantity,trn_sum_from_iss,trn_sum_from_red
0,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,9a80204f78,2.0,80.0,NaN
1,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,da89ebd374,1.0,65.0,NaN
2,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,0a95e1151d,1.0,24.0,NaN
3,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,4055b15e4a,2.0,50.0,NaN
4,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,a685f1916b,1.0,22.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15998947,fffeca6d22,a0bb11a968,2019-03-09 07:47:43,0.4,0.0,0.0,0.0,99.0,a0613e36b5,de437430e2,1.0,19.0,NaN
15998948,fffeca6d22,a0bb11a968,2019-03-09 07:47:43,0.4,0.0,0.0,0.0,99.0,a0613e36b5,ad8fee4200,1.0,45.0,NaN
15998949,fffeca6d22,3b876a5532,2019-03-15 14:46:39,0.8,0.0,0.0,0.0,165.0,a0613e36b5,ad8fee4200,2.0,94.0,NaN
15998950,fffeca6d22,3b876a5532,2019-03-15 14:46:39,0.8,0.0,0.0,0.0,165.0,a0613e36b5,230dbb0c16,1.0,50.0,NaN
15998951,fffeca6d22,3b876a5532,2019-03-15 14:46:39,0.8,0.0,0.0,0.0,165.0,a0613e36b5,8fbe7fde75,1.0,22.0,NaN

In [9]:
test_purch = pd.read_csv('test_purch.csv',
                        parse_dates=['transaction_datetime'])

In [10]:
last_day = train_purch.transaction_datetime.max()
last_day

Timestamp('2019-03-18 23:19:28')

# Are client's expenditures increasing or decreasing?
Estimated as spend last month divided by mean monthly spend. Also add mean monthly spend and spend last month as features

In [11]:
mean_monthly_spend_test = test_purch\
    .groupby(['client_id', 'transaction_datetime'])\
    .agg({'purchase_sum': 'mean'})\
    .groupby('client_id')\
    .agg({'purchase_sum': 'sum'})
mean_monthly_spend_test

            purchase_sum
client_id
00010925a5       5883.00
00035a21d9       1791.94
00038f9200       8385.00
0004315e57       7590.00
0006fca4bf       2141.00
...                  ...
fff9aa288c       4942.11
fff9f772f6       6255.26
fffe0ed719      10417.48
fffea1204c       4297.12
fffff6ce77      18560.59

[60012 rows x 1 columns]

In [12]:
mean_monthly_spend_test['first_transact'] = test_purch\
    .groupby('client_id')\
    .agg({'transaction_datetime': 'min'})

In [13]:
mean_monthly_spend_test['total_duration'] =\
    (last_day - mean_monthly_spend_test.first_transact)//pd.Timedelta('1d')
mean_monthly_spend_test

            purchase_sum      first_transact  total_duration
client_id
00010925a5       5883.00 2018-11-25 10:56:18             113
00035a21d9       1791.94 2019-02-09 11:46:22              37
00038f9200       8385.00 2018-12-07 11:03:50             101
0004315e57       7590.00 2018-11-25 13:20:56             113
0006fca4bf       2141.00 2019-02-20 07:47:30              26
...                  ...                 ...             ...
fff9aa288c       4942.11 2018-12-02 05:42:40             106
fff9f772f6       6255.26 2018-12-16 17:20:58              92
fffe0ed719      10417.48 2018-11-22 08:55:31             116
fffea1204c       4297.12 2018-12-02 12:25:55             106
fffff6ce77      18560.59 2018-11-29 17:34:42             109

[60012 rows x 3 columns]

In [14]:
mean_monthly_spend_test['monthly_spend_mean'] =\
    mean_monthly_spend_test.purchase_sum / mean_monthly_spend_test.total_duration * 30
mean_monthly_spend_test

,purchase_sum,first_transact,total_duration,monthly_spend_mean
client_id,,,,
00010925a5,5883.00,2018-11-25 10:56:18,113,1561.858407
00035a21d9,1791.94,2019-02-09 11:46:22,37,1452.924324
00038f9200,8385.00,2018-12-07 11:03:50,101,2490.594059
0004315e57,7590.00,2018-11-25 13:20:56,113,2015.044248
0006fca4bf,2141.00,2019-02-20 07:47:30,26,2470.384615
...,...,...,...,...
fff9aa288c,4942.11,2018-12-02 05:42:40,106,1398.710377
fff9f772f6,6255.26,2018-12-16 17:20:58,92,2039.758696
fffe0ed719,10417.48,2018-11-22 08:55:31,116,2694.175862
fffea1204c,4297.12,2018-12-02 12:25:55,106,1216.166038
fffff6ce77,18560.59,2018-11-29 17:34:42,109,5108.419266

In [15]:
clients_test = clients_test.join(mean_monthly_spend_test[['monthly_spend_mean']])
clients_test

,regular_points_received_mean,regular_points_received_sum,express_points_received_mean,express_points_received_sum,regular_points_spent_mean,regular_points_spent_sum,express_points_spent_mean,express_points_spent_sum,purchase_mean,purchase_sum,first_issue_date,first_redeem_date,age,gender_F,gender_M,no_redeem,redeem_delay,monthly_spend_mean
client_id,,,,,,,,,,,,,,,,,,
00010925a5,1.766667,31.8,0.0,0.0,-0.944444,-17.0,0.000000,0.0,326.833333,5883.00,17736,17788,83.0,0,0,0,52,1561.858407
00035a21d9,7.866667,23.6,0.0,0.0,-2.666667,-8.0,-10.000000,-30.0,597.313333,1791.94,17936,17957,69.0,0,0,0,21,1452.924324
00038f9200,1.725000,82.8,0.0,0.0,-0.604167,-29.0,0.000000,0.0,174.687500,8385.00,17872,17908,79.0,0,0,0,36,2490.594059
0004315e57,4.842857,67.8,0.0,0.0,-2.785714,-39.0,-4.285714,-60.0,542.142857,7590.00,17860,17929,38.0,0,0,0,69,2015.044248
0006fca4bf,11.800000,35.4,0.0,0.0,0.000000,0.0,0.000000,0.0,713.666667,2141.00,17947,18220,57.0,0,0,1,273,2470.384615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fff9aa288c,4.210000,42.1,0.0,0.0,-4.600000,-46.0,0.000000,0.0,494.211000,4942.11,17854,17962,48.0,0,0,0,108,1398.710377
fff9f772f6,23.975000,95.9,0.0,0.0,0.000000,0.0,0.000000,0.0,1563.815000,6255.26,17372,17977,54.0,1,0,0,605,2039.758696
fffe0ed719,2.330000,69.9,0.0,0.0,0.000000,0.0,0.000000,0.0,347.249333,10417.48,17424,17512,69.0,0,0,0,88,2694.175862
fffea1204c,1.535294,26.1,0.0,0.0,-2.352941,-40.0,0.000000,0.0,252.771765,4297.12,17562,17602,73.0,1,0,0,40,1216.166038
fffff6ce77,6.915625,221.3,0.0,0.0,-9.437500,-302.0,0.000000,0.0,580.018438,18560.59,17381,17404,42.0,0,0,0,23,5108.419266

In [16]:
mean_monthly_spend_train = train_purch\
    .groupby(['client_id', 'transaction_datetime'])\
    .agg({'purchase_sum': 'mean'})\
    .groupby('client_id')\
    .agg({'purchase_sum': 'sum'})


mean_monthly_spend_train['first_transact'] = train_purch\
    .groupby('client_id')\
    .agg({'transaction_datetime': 'min'})

mean_monthly_spend_train['total_duration'] =\
    (last_day - mean_monthly_spend_train.first_transact)//pd.Timedelta('1d')
mean_monthly_spend_train

            purchase_sum      first_transact  total_duration
client_id
000012768d       2803.00 2018-12-01 07:12:45             107
000036f903       9805.00 2018-11-28 10:48:36             110
0001f552b0       6155.18 2018-11-24 07:14:43             114
00020e7b18      25819.61 2018-11-23 08:21:26             115
000220a0a7       8606.57 2018-12-11 16:54:16              97
...                  ...                 ...             ...
fffd5cd0c6       5731.63 2018-11-29 14:58:57             109
fffd63dfe3       1340.51 2019-01-18 09:17:13              59
fffd8c9d7d       1636.53 2018-12-02 09:29:54             106
fffe0abb97       2716.42 2018-11-30 07:05:53             108
fffeca6d22       2832.86 2018-12-04 08:27:19             104

[140027 rows x 3 columns]

In [17]:
mean_monthly_spend_train['monthly_spend_mean'] =\
    mean_monthly_spend_train.purchase_sum / mean_monthly_spend_train.total_duration * 30
mean_monthly_spend_train

,purchase_sum,first_transact,total_duration,monthly_spend_mean
client_id,,,,
000012768d,2803.00,2018-12-01 07:12:45,107,785.887850
000036f903,9805.00,2018-11-28 10:48:36,110,2674.090909
0001f552b0,6155.18,2018-11-24 07:14:43,114,1619.784211
00020e7b18,25819.61,2018-11-23 08:21:26,115,6735.550435
000220a0a7,8606.57,2018-12-11 16:54:16,97,2661.825773
...,...,...,...,...
fffd5cd0c6,5731.63,2018-11-29 14:58:57,109,1577.512844
fffd63dfe3,1340.51,2019-01-18 09:17:13,59,681.615254
fffd8c9d7d,1636.53,2018-12-02 09:29:54,106,463.168868
fffe0abb97,2716.42,2018-11-30 07:05:53,108,754.561111
fffeca6d22,2832.86,2018-12-04 08:27:19,104,817.171154

In [18]:
clients_train = clients_train.join(mean_monthly_spend_train[['monthly_spend_mean']])
clients_train

,regular_points_received_mean,regular_points_received_sum,express_points_received_mean,express_points_received_sum,regular_points_spent_mean,regular_points_spent_sum,express_points_spent_mean,express_points_spent_sum,purchase_mean,purchase_sum,first_issue_date,first_redeem_date,age,gender_F,gender_M,no_redeem,redeem_delay,monthly_spend_mean
client_id,,,,,,,,,,,,,,,,,,
000012768d,6.425000,25.7,0.000,0.0,0.000000,0.0,0.000000,0.0,700.750000,2803.00,17383,17535,45.000000,0,0,0,152,785.887850
000036f903,1.715625,54.9,1.875,60.0,0.000000,0.0,0.000000,0.0,306.406250,9805.00,17266,17279,72.000000,1,0,0,13,2674.090909
0001f552b0,5.260000,78.9,0.000,0.0,0.000000,0.0,0.000000,0.0,410.345333,6155.18,17347,17771,33.000000,1,0,0,424,1619.784211
00020e7b18,15.894444,286.1,0.000,0.0,-32.888889,-592.0,-1.666667,-30.0,1434.422778,25819.61,17497,17541,73.000000,0,0,0,44,6735.550435
000220a0a7,6.940000,104.1,0.000,0.0,0.000000,0.0,0.000000,0.0,573.771333,8606.57,17509,17808,46.379533,0,1,0,299,2661.825773
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fffd5cd0c6,1.950000,35.1,0.000,0.0,0.000000,0.0,0.000000,0.0,318.423889,5731.63,17343,17797,47.000000,0,1,0,454,1577.512844
fffd63dfe3,1.625000,6.5,0.000,0.0,0.000000,0.0,0.000000,0.0,335.127500,1340.51,17312,17578,31.000000,0,0,0,266,681.615254
fffd8c9d7d,2.200000,11.0,0.000,0.0,0.000000,0.0,0.000000,0.0,327.306000,1636.53,17582,17712,48.000000,1,0,0,130,463.168868
fffe0abb97,2.466667,22.2,0.000,0.0,-2.888889,-26.0,-16.666667,-150.0,301.824444,2716.42,17497,17573,35.000000,1,0,0,76,754.561111
fffeca6d22,2.962500,47.4,0.000,0.0,0.000000,0.0,0.000000,0.0,177.053750,2832.86,17528,18220,77.000000,1,0,1,692,817.171154

Beginning of the last month:

In [19]:
last_month_start = last_day - pd.Timedelta('30d')
last_month_start

Timestamp('2019-02-16 23:19:28')

In [20]:
last_month_spend_test = test_purch\
    .query('transaction_datetime > @last_month_start')\
    .groupby(['client_id', 'transaction_datetime'])\
    .agg({'purchase_sum': 'mean'})\
    .groupby('client_id')\
    .agg({'purchase_sum': 'sum'})\
    .rename(columns={'purchase_sum': 'last_month_spend'})
last_month_spend_test

            last_month_spend
client_id
00010925a5           2858.00
00035a21d9            786.00
00038f9200           3033.00
0004315e57           3056.00
0006fca4bf           2141.00
...                      ...
fff9aa288c            191.81
fff9f772f6           4084.71
fffe0ed719           8551.48
fffea1204c           1746.41
fffff6ce77           4460.00

[60012 rows x 1 columns]

In [21]:
last_month_spend_train = train_purch\
    .query('transaction_datetime > @last_month_start')\
    .groupby(['client_id', 'transaction_datetime'])\
    .agg({'purchase_sum': 'mean'})\
    .groupby('client_id')\
    .agg({'purchase_sum': 'sum'})\
    .rename(columns={'purchase_sum': 'last_month_spend'})
last_month_spend_train

            last_month_spend
client_id
000012768d           1222.00
000036f903           2968.00
0001f552b0           2211.37
00020e7b18           6096.27
000220a0a7           3425.43
...                      ...
fffd5cd0c6           2581.55
fffd63dfe3            330.00
fffd8c9d7d            940.00
fffe0abb97            820.72
fffeca6d22           1251.86

[140027 rows x 1 columns]

In [22]:
clients_test = clients_test.join(last_month_spend_test[['last_month_spend']])
clients_test

,regular_points_received_mean,regular_points_received_sum,express_points_received_mean,express_points_received_sum,regular_points_spent_mean,regular_points_spent_sum,express_points_spent_mean,express_points_spent_sum,purchase_mean,purchase_sum,first_issue_date,first_redeem_date,age,gender_F,gender_M,no_redeem,redeem_delay,monthly_spend_mean,last_month_spend
client_id,,,,,,,,,,,,,,,,,,,
00010925a5,1.766667,31.8,0.0,0.0,-0.944444,-17.0,0.000000,0.0,326.833333,5883.00,17736,17788,83.0,0,0,0,52,1561.858407,2858.00
00035a21d9,7.866667,23.6,0.0,0.0,-2.666667,-8.0,-10.000000,-30.0,597.313333,1791.94,17936,17957,69.0,0,0,0,21,1452.924324,786.00
00038f9200,1.725000,82.8,0.0,0.0,-0.604167,-29.0,0.000000,0.0,174.687500,8385.00,17872,17908,79.0,0,0,0,36,2490.594059,3033.00
0004315e57,4.842857,67.8,0.0,0.0,-2.785714,-39.0,-4.285714,-60.0,542.142857,7590.00,17860,17929,38.0,0,0,0,69,2015.044248,3056.00
0006fca4bf,11.800000,35.4,0.0,0.0,0.000000,0.0,0.000000,0.0,713.666667,2141.00,17947,18220,57.0,0,0,1,273,2470.384615,2141.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fff9aa288c,4.210000,42.1,0.0,0.0,-4.600000,-46.0,0.000000,0.0,494.211000,4942.11,17854,17962,48.0,0,0,0,108,1398.710377,191.81
fff9f772f6,23.975000,95.9,0.0,0.0,0.000000,0.0,0.000000,0.0,1563.815000,6255.26,17372,17977,54.0,1,0,0,605,2039.758696,4084.71
fffe0ed719,2.330000,69.9,0.0,0.0,0.000000,0.0,0.000000,0.0,347.249333,10417.48,17424,17512,69.0,0,0,0,88,2694.175862,8551.48
fffea1204c,1.535294,26.1,0.0,0.0,-2.352941,-40.0,0.000000,0.0,252.771765,4297.12,17562,17602,73.0,1,0,0,40,1216.166038,1746.41
fffff6ce77,6.915625,221.3,0.0,0.0,-9.437500,-302.0,0.000000,0.0,580.018438,18560.59,17381,17404,42.0,0,0,0,23,5108.419266,4460.00

In [23]:
clients_train = clients_train.join(last_month_spend_train[['last_month_spend']])
clients_train

,regular_points_received_mean,regular_points_received_sum,express_points_received_mean,express_points_received_sum,regular_points_spent_mean,regular_points_spent_sum,express_points_spent_mean,express_points_spent_sum,purchase_mean,purchase_sum,first_issue_date,first_redeem_date,age,gender_F,gender_M,no_redeem,redeem_delay,monthly_spend_mean,last_month_spend
client_id,,,,,,,,,,,,,,,,,,,
000012768d,6.425000,25.7,0.000,0.0,0.000000,0.0,0.000000,0.0,700.750000,2803.00,17383,17535,45.000000,0,0,0,152,785.887850,1222.00
000036f903,1.715625,54.9,1.875,60.0,0.000000,0.0,0.000000,0.0,306.406250,9805.00,17266,17279,72.000000,1,0,0,13,2674.090909,2968.00
0001f552b0,5.260000,78.9,0.000,0.0,0.000000,0.0,0.000000,0.0,410.345333,6155.18,17347,17771,33.000000,1,0,0,424,1619.784211,2211.37
00020e7b18,15.894444,286.1,0.000,0.0,-32.888889,-592.0,-1.666667,-30.0,1434.422778,25819.61,17497,17541,73.000000,0,0,0,44,6735.550435,6096.27
000220a0a7,6.940000,104.1,0.000,0.0,0.000000,0.0,0.000000,0.0,573.771333,8606.57,17509,17808,46.379533,0,1,0,299,2661.825773,3425.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fffd5cd0c6,1.950000,35.1,0.000,0.0,0.000000,0.0,0.000000,0.0,318.423889,5731.63,17343,17797,47.000000,0,1,0,454,1577.512844,2581.55
fffd63dfe3,1.625000,6.5,0.000,0.0,0.000000,0.0,0.000000,0.0,335.127500,1340.51,17312,17578,31.000000,0,0,0,266,681.615254,330.00
fffd8c9d7d,2.200000,11.0,0.000,0.0,0.000000,0.0,0.000000,0.0,327.306000,1636.53,17582,17712,48.000000,1,0,0,130,463.168868,940.00
fffe0abb97,2.466667,22.2,0.000,0.0,-2.888889,-26.0,-16.666667,-150.0,301.824444,2716.42,17497,17573,35.000000,1,0,0,76,754.561111,820.72
fffeca6d22,2.962500,47.4,0.000,0.0,0.000000,0.0,0.000000,0.0,177.053750,2832.86,17528,18220,77.000000,1,0,1,692,817.171154,1251.86

In [24]:
mean_monthly_spend_test = mean_monthly_spend_test\
    .join(last_month_spend_test)

In [25]:
mean_monthly_spend_test

,purchase_sum,first_transact,total_duration,monthly_spend_mean,last_month_spend
client_id,,,,,
00010925a5,5883.00,2018-11-25 10:56:18,113,1561.858407,2858.00
00035a21d9,1791.94,2019-02-09 11:46:22,37,1452.924324,786.00
00038f9200,8385.00,2018-12-07 11:03:50,101,2490.594059,3033.00
0004315e57,7590.00,2018-11-25 13:20:56,113,2015.044248,3056.00
0006fca4bf,2141.00,2019-02-20 07:47:30,26,2470.384615,2141.00
...,...,...,...,...,...
fff9aa288c,4942.11,2018-12-02 05:42:40,106,1398.710377,191.81
fff9f772f6,6255.26,2018-12-16 17:20:58,92,2039.758696,4084.71
fffe0ed719,10417.48,2018-11-22 08:55:31,116,2694.175862,8551.48
fffea1204c,4297.12,2018-12-02 12:25:55,106,1216.166038,1746.41
fffff6ce77,18560.59,2018-11-29 17:34:42,109,5108.419266,4460.00

In [26]:
mean_monthly_spend_test['relative_spend_last_month'] = \
    mean_monthly_spend_test.last_month_spend / mean_monthly_spend_test.monthly_spend_mean
mean_monthly_spend_test

,purchase_sum,first_transact,total_duration,monthly_spend_mean,last_month_spend,relative_spend_last_month
client_id,,,,,,
00010925a5,5883.00,2018-11-25 10:56:18,113,1561.858407,2858.00,1.829871
00035a21d9,1791.94,2019-02-09 11:46:22,37,1452.924324,786.00,0.540978
00038f9200,8385.00,2018-12-07 11:03:50,101,2490.594059,3033.00,1.217782
0004315e57,7590.00,2018-11-25 13:20:56,113,2015.044248,3056.00,1.516592
0006fca4bf,2141.00,2019-02-20 07:47:30,26,2470.384615,2141.00,0.866667
...,...,...,...,...,...,...
fff9aa288c,4942.11,2018-12-02 05:42:40,106,1398.710377,191.81,0.137133
fff9f772f6,6255.26,2018-12-16 17:20:58,92,2039.758696,4084.71,2.002546
fffe0ed719,10417.48,2018-11-22 08:55:31,116,2694.175862,8551.48,3.174062
fffea1204c,4297.12,2018-12-02 12:25:55,106,1216.166038,1746.41,1.435996
fffff6ce77,18560.59,2018-11-29 17:34:42,109,5108.419266,4460.00,0.873069

In [27]:
clients_test = clients_test.join(mean_monthly_spend_test[['relative_spend_last_month']])
clients_test

,regular_points_received_mean,regular_points_received_sum,express_points_received_mean,express_points_received_sum,regular_points_spent_mean,regular_points_spent_sum,express_points_spent_mean,express_points_spent_sum,purchase_mean,purchase_sum,first_issue_date,first_redeem_date,age,gender_F,gender_M,no_redeem,redeem_delay,monthly_spend_mean,last_month_spend,relative_spend_last_month
client_id,,,,,,,,,,,,,,,,,,,,
00010925a5,1.766667,31.8,0.0,0.0,-0.944444,-17.0,0.000000,0.0,326.833333,5883.00,17736,17788,83.0,0,0,0,52,1561.858407,2858.00,1.829871
00035a21d9,7.866667,23.6,0.0,0.0,-2.666667,-8.0,-10.000000,-30.0,597.313333,1791.94,17936,17957,69.0,0,0,0,21,1452.924324,786.00,0.540978
00038f9200,1.725000,82.8,0.0,0.0,-0.604167,-29.0,0.000000,0.0,174.687500,8385.00,17872,17908,79.0,0,0,0,36,2490.594059,3033.00,1.217782
0004315e57,4.842857,67.8,0.0,0.0,-2.785714,-39.0,-4.285714,-60.0,542.142857,7590.00,17860,17929,38.0,0,0,0,69,2015.044248,3056.00,1.516592
0006fca4bf,11.800000,35.4,0.0,0.0,0.000000,0.0,0.000000,0.0,713.666667,2141.00,17947,18220,57.0,0,0,1,273,2470.384615,2141.00,0.866667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fff9aa288c,4.210000,42.1,0.0,0.0,-4.600000,-46.0,0.000000,0.0,494.211000,4942.11,17854,17962,48.0,0,0,0,108,1398.710377,191.81,0.137133
fff9f772f6,23.975000,95.9,0.0,0.0,0.000000,0.0,0.000000,0.0,1563.815000,6255.26,17372,17977,54.0,1,0,0,605,2039.758696,4084.71,2.002546
fffe0ed719,2.330000,69.9,0.0,0.0,0.000000,0.0,0.000000,0.0,347.249333,10417.48,17424,17512,69.0,0,0,0,88,2694.175862,8551.48,3.174062
fffea1204c,1.535294,26.1,0.0,0.0,-2.352941,-40.0,0.000000,0.0,252.771765,4297.12,17562,17602,73.0,1,0,0,40,1216.166038,1746.41,1.435996
fffff6ce77,6.915625,221.3,0.0,0.0,-9.437500,-302.0,0.000000,0.0,580.018438,18560.59,17381,17404,42.0,0,0,0,23,5108.419266,4460.00,0.873069

In [28]:
mean_monthly_spend_train = mean_monthly_spend_train\
    .join(last_month_spend_train)


mean_monthly_spend_train['relative_spend_last_month'] = \
    mean_monthly_spend_train.last_month_spend / mean_monthly_spend_train.monthly_spend_mean
mean_monthly_spend_train

,purchase_sum,first_transact,total_duration,monthly_spend_mean,last_month_spend,relative_spend_last_month
client_id,,,,,,
000012768d,2803.00,2018-12-01 07:12:45,107,785.887850,1222.00,1.554929
000036f903,9805.00,2018-11-28 10:48:36,110,2674.090909,2968.00,1.109910
0001f552b0,6155.18,2018-11-24 07:14:43,114,1619.784211,2211.37,1.365225
00020e7b18,25819.61,2018-11-23 08:21:26,115,6735.550435,6096.27,0.905089
000220a0a7,8606.57,2018-12-11 16:54:16,97,2661.825773,3425.43,1.286872
...,...,...,...,...,...,...
fffd5cd0c6,5731.63,2018-11-29 14:58:57,109,1577.512844,2581.55,1.636468
fffd63dfe3,1340.51,2019-01-18 09:17:13,59,681.615254,330.00,0.484144
fffd8c9d7d,1636.53,2018-12-02 09:29:54,106,463.168868,940.00,2.029497
fffe0abb97,2716.42,2018-11-30 07:05:53,108,754.561111,820.72,1.087679
fffeca6d22,2832.86,2018-12-04 08:27:19,104,817.171154,1251.86,1.531943

In [29]:
clients_train = clients_train.join(mean_monthly_spend_train[['relative_spend_last_month']])
clients_train

,regular_points_received_mean,regular_points_received_sum,express_points_received_mean,express_points_received_sum,regular_points_spent_mean,regular_points_spent_sum,express_points_spent_mean,express_points_spent_sum,purchase_mean,purchase_sum,first_issue_date,first_redeem_date,age,gender_F,gender_M,no_redeem,redeem_delay,monthly_spend_mean,last_month_spend,relative_spend_last_month
client_id,,,,,,,,,,,,,,,,,,,,
000012768d,6.425000,25.7,0.000,0.0,0.000000,0.0,0.000000,0.0,700.750000,2803.00,17383,17535,45.000000,0,0,0,152,785.887850,1222.00,1.554929
000036f903,1.715625,54.9,1.875,60.0,0.000000,0.0,0.000000,0.0,306.406250,9805.00,17266,17279,72.000000,1,0,0,13,2674.090909,2968.00,1.109910
0001f552b0,5.260000,78.9,0.000,0.0,0.000000,0.0,0.000000,0.0,410.345333,6155.18,17347,17771,33.000000,1,0,0,424,1619.784211,2211.37,1.365225
00020e7b18,15.894444,286.1,0.000,0.0,-32.888889,-592.0,-1.666667,-30.0,1434.422778,25819.61,17497,17541,73.000000,0,0,0,44,6735.550435,6096.27,0.905089
000220a0a7,6.940000,104.1,0.000,0.0,0.000000,0.0,0.000000,0.0,573.771333,8606.57,17509,17808,46.379533,0,1,0,299,2661.825773,3425.43,1.286872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fffd5cd0c6,1.950000,35.1,0.000,0.0,0.000000,0.0,0.000000,0.0,318.423889,5731.63,17343,17797,47.000000,0,1,0,454,1577.512844,2581.55,1.636468
fffd63dfe3,1.625000,6.5,0.000,0.0,0.000000,0.0,0.000000,0.0,335.127500,1340.51,17312,17578,31.000000,0,0,0,266,681.615254,330.00,0.484144
fffd8c9d7d,2.200000,11.0,0.000,0.0,0.000000,0.0,0.000000,0.0,327.306000,1636.53,17582,17712,48.000000,1,0,0,130,463.168868,940.00,2.029497
fffe0abb97,2.466667,22.2,0.000,0.0,-2.888889,-26.0,-16.666667,-150.0,301.824444,2716.42,17497,17573,35.000000,1,0,0,76,754.561111,820.72,1.087679
fffeca6d22,2.962500,47.4,0.000,0.0,0.000000,0.0,0.000000,0.0,177.053750,2832.86,17528,18220,77.000000,1,0,1,692,817.171154,1251.86,1.531943

# Points received and spent last month

In [30]:
last_month_points_test = test_purch\
    .query('transaction_datetime > @last_month_start')\
    .groupby(['client_id', 'transaction_datetime'])\
    .agg({'regular_points_received': 'mean',
         'express_points_received': 'mean',
         'regular_points_spent': 'mean',
         'express_points_spent': 'mean'})\
    .groupby('client_id')\
    .agg({'regular_points_received': 'mean',
         'express_points_received': 'mean',
         'regular_points_spent': 'mean',
         'express_points_spent': 'mean'})
last_month_points_test

,regular_points_received,express_points_received,regular_points_spent,express_points_spent
client_id,,,,
00010925a5,1.737500,0.0,0.000000,0.0
00035a21d9,14.800000,0.0,-8.000000,-30.0
00038f9200,2.335294,0.0,0.000000,0.0
0004315e57,4.750000,0.0,-2.833333,-5.0
0006fca4bf,11.800000,0.0,0.000000,0.0
...,...,...,...,...
fff9aa288c,0.700000,0.0,-46.000000,0.0
fff9f772f6,37.150000,0.0,0.000000,0.0
fffe0ed719,3.147368,0.0,0.000000,0.0
fffea1204c,1.816667,0.0,-6.666667,0.0
fffff6ce77,2.490909,0.0,0.000000,0.0

In [31]:
last_month_points_test.columns =\
    ['regular_points_received_last_month',
     'express_points_received_last_month',
     'regular_points_spent_last_month',
     'express_points_spent_last_month']
last_month_points_test

,regular_points_received_last_month,express_points_received_last_month,regular_points_spent_last_month,express_points_spent_last_month
client_id,,,,
00010925a5,1.737500,0.0,0.000000,0.0
00035a21d9,14.800000,0.0,-8.000000,-30.0
00038f9200,2.335294,0.0,0.000000,0.0
0004315e57,4.750000,0.0,-2.833333,-5.0
0006fca4bf,11.800000,0.0,0.000000,0.0
...,...,...,...,...
fff9aa288c,0.700000,0.0,-46.000000,0.0
fff9f772f6,37.150000,0.0,0.000000,0.0
fffe0ed719,3.147368,0.0,0.000000,0.0
fffea1204c,1.816667,0.0,-6.666667,0.0
fffff6ce77,2.490909,0.0,0.000000,0.0

In [32]:
clients_test = clients_test.join(last_month_points_test)
clients_test

,regular_points_received_mean,regular_points_received_sum,express_points_received_mean,express_points_received_sum,regular_points_spent_mean,regular_points_spent_sum,express_points_spent_mean,express_points_spent_sum,purchase_mean,purchase_sum,...,gender_M,no_redeem,redeem_delay,monthly_spend_mean,last_month_spend,relative_spend_last_month,regular_points_received_last_month,express_points_received_last_month,regular_points_spent_last_month,express_points_spent_last_month
client_id,,,,,,,,,,,,,,,,,,,,,
00010925a5,1.766667,31.8,0.0,0.0,-0.944444,-17.0,0.000000,0.0,326.833333,5883.00,...,0,0,52,1561.858407,2858.00,1.829871,1.737500,0.0,0.000000,0.0
00035a21d9,7.866667,23.6,0.0,0.0,-2.666667,-8.0,-10.000000,-30.0,597.313333,1791.94,...,0,0,21,1452.924324,786.00,0.540978,14.800000,0.0,-8.000000,-30.0
00038f9200,1.725000,82.8,0.0,0.0,-0.604167,-29.0,0.000000,0.0,174.687500,8385.00,...,0,0,36,2490.594059,3033.00,1.217782,2.335294,0.0,0.000000,0.0
0004315e57,4.842857,67.8,0.0,0.0,-2.785714,-39.0,-4.285714,-60.0,542.142857,7590.00,...,0,0,69,2015.044248,3056.00,1.516592,4.750000,0.0,-2.833333,-5.0
0006fca4bf,11.800000,35.4,0.0,0.0,0.000000,0.0,0.000000,0.0,713.666667,2141.00,...,0,1,273,2470.384615,2141.00,0.866667,11.800000,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fff9aa288c,4.210000,42.1,0.0,0.0,-4.600000,-46.0,0.000000,0.0,494.211000,4942.11,...,0,0,108,1398.710377,191.81,0.137133,0.700000,0.0,-46.000000,0.0
fff9f772f6,23.975000,95.9,0.0,0.0,0.000000,0.0,0.000000,0.0,1563.815000,6255.26,...,0,0,605,2039.758696,4084.71,2.002546,37.150000,0.0,0.000000,0.0
fffe0ed719,2.330000,69.9,0.0,0.0,0.000000,0.0,0.000000,0.0,347.249333,10417.48,...,0,0,88,2694.175862,8551.48,3.174062,3.147368,0.0,0.000000,0.0
fffea1204c,1.535294,26.1,0.0,0.0,-2.352941,-40.0,0.000000,0.0,252.771765,4297.12,...,0,0,40,1216.166038,1746.41,1.435996,1.816667,0.0,-6.666667,0.0
fffff6ce77,6.915625,221.3,0.0,0.0,-9.437500,-302.0,0.000000,0.0,580.018438,18560.59,...,0,0,23,5108.419266,4460.00,0.873069,2.490909,0.0,0.000000,0.0

In [33]:
last_month_points_train = train_purch\
    .query('transaction_datetime > @last_month_start')\
    .groupby(['client_id', 'transaction_datetime'])\
    .agg({'regular_points_received': 'mean',
         'express_points_received': 'mean',
         'regular_points_spent': 'mean',
         'express_points_spent': 'mean'})\
    .groupby('client_id')\
    .agg({'regular_points_received': 'mean',
         'express_points_received': 'mean',
         'regular_points_spent': 'mean',
         'express_points_spent': 'mean'})


last_month_points_train.columns =\
    ['regular_points_received_last_month',
     'express_points_received_last_month',
     'regular_points_spent_last_month',
     'express_points_spent_last_month']
last_month_points_train

,regular_points_received_last_month,express_points_received_last_month,regular_points_spent_last_month,express_points_spent_last_month
client_id,,,,
000012768d,5.000000,0.0,0.0,0.0
000036f903,1.622222,0.0,0.0,0.0
0001f552b0,6.714286,0.0,0.0,0.0
00020e7b18,11.680000,0.0,-15.2,-2.0
000220a0a7,3.262500,0.0,0.0,0.0
...,...,...,...,...
fffd5cd0c6,1.587500,0.0,0.0,0.0
fffd63dfe3,1.600000,0.0,0.0,0.0
fffd8c9d7d,1.533333,0.0,0.0,0.0
fffe0abb97,2.433333,0.0,-5.0,-20.0
fffeca6d22,3.833333,0.0,0.0,0.0

In [34]:
clients_train = clients_train.join(last_month_points_train)
clients_train

,regular_points_received_mean,regular_points_received_sum,express_points_received_mean,express_points_received_sum,regular_points_spent_mean,regular_points_spent_sum,express_points_spent_mean,express_points_spent_sum,purchase_mean,purchase_sum,...,gender_M,no_redeem,redeem_delay,monthly_spend_mean,last_month_spend,relative_spend_last_month,regular_points_received_last_month,express_points_received_last_month,regular_points_spent_last_month,express_points_spent_last_month
client_id,,,,,,,,,,,,,,,,,,,,,
000012768d,6.425000,25.7,0.000,0.0,0.000000,0.0,0.000000,0.0,700.750000,2803.00,...,0,0,152,785.887850,1222.00,1.554929,5.000000,0.0,0.0,0.0
000036f903,1.715625,54.9,1.875,60.0,0.000000,0.0,0.000000,0.0,306.406250,9805.00,...,0,0,13,2674.090909,2968.00,1.109910,1.622222,0.0,0.0,0.0
0001f552b0,5.260000,78.9,0.000,0.0,0.000000,0.0,0.000000,0.0,410.345333,6155.18,...,0,0,424,1619.784211,2211.37,1.365225,6.714286,0.0,0.0,0.0
00020e7b18,15.894444,286.1,0.000,0.0,-32.888889,-592.0,-1.666667,-30.0,1434.422778,25819.61,...,0,0,44,6735.550435,6096.27,0.905089,11.680000,0.0,-15.2,-2.0
000220a0a7,6.940000,104.1,0.000,0.0,0.000000,0.0,0.000000,0.0,573.771333,8606.57,...,1,0,299,2661.825773,3425.43,1.286872,3.262500,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fffd5cd0c6,1.950000,35.1,0.000,0.0,0.000000,0.0,0.000000,0.0,318.423889,5731.63,...,1,0,454,1577.512844,2581.55,1.636468,1.587500,0.0,0.0,0.0
fffd63dfe3,1.625000,6.5,0.000,0.0,0.000000,0.0,0.000000,0.0,335.127500,1340.51,...,0,0,266,681.615254,330.00,0.484144,1.600000,0.0,0.0,0.0
fffd8c9d7d,2.200000,11.0,0.000,0.0,0.000000,0.0,0.000000,0.0,327.306000,1636.53,...,0,0,130,463.168868,940.00,2.029497,1.533333,0.0,0.0,0.0
fffe0abb97,2.466667,22.2,0.000,0.0,-2.888889,-26.0,-16.666667,-150.0,301.824444,2716.42,...,0,0,76,754.561111,820.72,1.087679,2.433333,0.0,-5.0,-20.0
fffeca6d22,2.962500,47.4,0.000,0.0,0.000000,0.0,0.000000,0.0,177.053750,2832.86,...,0,1,692,817.171154,1251.86,1.531943,3.833333,0.0,0.0,0.0

# Total transactions

In [35]:
n_transact_test = test_purch\
    .groupby('client_id')\
    .agg({'transaction_id': 'nunique'})\
    .rename(columns={'transaction_id': 'nunique'})
n_transact_test

            nunique
client_id
00010925a5       18
00035a21d9        3
00038f9200       48
0004315e57       14
0006fca4bf        3
...             ...
fff9aa288c       10
fff9f772f6        4
fffe0ed719       30
fffea1204c       17
fffff6ce77       32

[60012 rows x 1 columns]

In [36]:
n_transact_test.describe()

            nunique
count  60012.000000
mean      20.161818
std       17.894747
min        1.000000
25%        8.000000
50%       15.000000
75%       27.000000
max      292.000000

In [37]:
clients_test = clients_test.join(n_transact_test)
clients_test

,regular_points_received_mean,regular_points_received_sum,express_points_received_mean,express_points_received_sum,regular_points_spent_mean,regular_points_spent_sum,express_points_spent_mean,express_points_spent_sum,purchase_mean,purchase_sum,...,no_redeem,redeem_delay,monthly_spend_mean,last_month_spend,relative_spend_last_month,regular_points_received_last_month,express_points_received_last_month,regular_points_spent_last_month,express_points_spent_last_month,nunique
client_id,,,,,,,,,,,,,,,,,,,,,
00010925a5,1.766667,31.8,0.0,0.0,-0.944444,-17.0,0.000000,0.0,326.833333,5883.00,...,0,52,1561.858407,2858.00,1.829871,1.737500,0.0,0.000000,0.0,18
00035a21d9,7.866667,23.6,0.0,0.0,-2.666667,-8.0,-10.000000,-30.0,597.313333,1791.94,...,0,21,1452.924324,786.00,0.540978,14.800000,0.0,-8.000000,-30.0,3
00038f9200,1.725000,82.8,0.0,0.0,-0.604167,-29.0,0.000000,0.0,174.687500,8385.00,...,0,36,2490.594059,3033.00,1.217782,2.335294,0.0,0.000000,0.0,48
0004315e57,4.842857,67.8,0.0,0.0,-2.785714,-39.0,-4.285714,-60.0,542.142857,7590.00,...,0,69,2015.044248,3056.00,1.516592,4.750000,0.0,-2.833333,-5.0,14
0006fca4bf,11.800000,35.4,0.0,0.0,0.000000,0.0,0.000000,0.0,713.666667,2141.00,...,1,273,2470.384615,2141.00,0.866667,11.800000,0.0,0.000000,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fff9aa288c,4.210000,42.1,0.0,0.0,-4.600000,-46.0,0.000000,0.0,494.211000,4942.11,...,0,108,1398.710377,191.81,0.137133,0.700000,0.0,-46.000000,0.0,10
fff9f772f6,23.975000,95.9,0.0,0.0,0.000000,0.0,0.000000,0.0,1563.815000,6255.26,...,0,605,2039.758696,4084.71,2.002546,37.150000,0.0,0.000000,0.0,4
fffe0ed719,2.330000,69.9,0.0,0.0,0.000000,0.0,0.000000,0.0,347.249333,10417.48,...,0,88,2694.175862,8551.48,3.174062,3.147368,0.0,0.000000,0.0,30
fffea1204c,1.535294,26.1,0.0,0.0,-2.352941,-40.0,0.000000,0.0,252.771765,4297.12,...,0,40,1216.166038,1746.41,1.435996,1.816667,0.0,-6.666667,0.0,17
fffff6ce77,6.915625,221.3,0.0,0.0,-9.437500,-302.0,0.000000,0.0,580.018438,18560.59,...,0,23,5108.419266,4460.00,0.873069,2.490909,0.0,0.000000,0.0,32

In [38]:
n_transact_train = train_purch\
    .groupby('client_id')\
    .agg({'transaction_id': 'nunique'})\
    .rename(columns={'transaction_id': 'nunique'})
n_transact_train

            nunique
client_id
000012768d        4
000036f903       32
0001f552b0       15
00020e7b18       18
000220a0a7       15
...             ...
fffd5cd0c6       18
fffd63dfe3        4
fffd8c9d7d        5
fffe0abb97        9
fffeca6d22       16

[140027 rows x 1 columns]

In [39]:
clients_train = clients_train.join(n_transact_train)
clients_train

,regular_points_received_mean,regular_points_received_sum,express_points_received_mean,express_points_received_sum,regular_points_spent_mean,regular_points_spent_sum,express_points_spent_mean,express_points_spent_sum,purchase_mean,purchase_sum,...,no_redeem,redeem_delay,monthly_spend_mean,last_month_spend,relative_spend_last_month,regular_points_received_last_month,express_points_received_last_month,regular_points_spent_last_month,express_points_spent_last_month,nunique
client_id,,,,,,,,,,,,,,,,,,,,,
000012768d,6.425000,25.7,0.000,0.0,0.000000,0.0,0.000000,0.0,700.750000,2803.00,...,0,152,785.887850,1222.00,1.554929,5.000000,0.0,0.0,0.0,4
000036f903,1.715625,54.9,1.875,60.0,0.000000,0.0,0.000000,0.0,306.406250,9805.00,...,0,13,2674.090909,2968.00,1.109910,1.622222,0.0,0.0,0.0,32
0001f552b0,5.260000,78.9,0.000,0.0,0.000000,0.0,0.000000,0.0,410.345333,6155.18,...,0,424,1619.784211,2211.37,1.365225,6.714286,0.0,0.0,0.0,15
00020e7b18,15.894444,286.1,0.000,0.0,-32.888889,-592.0,-1.666667,-30.0,1434.422778,25819.61,...,0,44,6735.550435,6096.27,0.905089,11.680000,0.0,-15.2,-2.0,18
000220a0a7,6.940000,104.1,0.000,0.0,0.000000,0.0,0.000000,0.0,573.771333,8606.57,...,0,299,2661.825773,3425.43,1.286872,3.262500,0.0,0.0,0.0,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fffd5cd0c6,1.950000,35.1,0.000,0.0,0.000000,0.0,0.000000,0.0,318.423889,5731.63,...,0,454,1577.512844,2581.55,1.636468,1.587500,0.0,0.0,0.0,18
fffd63dfe3,1.625000,6.5,0.000,0.0,0.000000,0.0,0.000000,0.0,335.127500,1340.51,...,0,266,681.615254,330.00,0.484144,1.600000,0.0,0.0,0.0,4
fffd8c9d7d,2.200000,11.0,0.000,0.0,0.000000,0.0,0.000000,0.0,327.306000,1636.53,...,0,130,463.168868,940.00,2.029497,1.533333,0.0,0.0,0.0,5
fffe0abb97,2.466667,22.2,0.000,0.0,-2.888889,-26.0,-16.666667,-150.0,301.824444,2716.42,...,0,76,754.561111,820.72,1.087679,2.433333,0.0,-5.0,-20.0,9
fffeca6d22,2.962500,47.4,0.000,0.0,0.000000,0.0,0.000000,0.0,177.053750,2832.86,...,1,692,817.171154,1251.86,1.531943,3.833333,0.0,0.0,0.0,16

# Feature: the fact of buying the most popular product

Most popular by the number of transactions:

In [40]:
most_pop = train_purch.product_id.value_counts().index[0]
most_pop

'4009f09b04'

Most popular by the number of items sold:

In [41]:
product_counts = train_purch\
    .groupby('product_id')\
    .agg({'product_quantity': 'sum'})

In [42]:
most_pop2 = product_counts.query('product_quantity == @product_counts.max()[0]')
most_pop2

            product_quantity
product_id
4009f09b04          714113.0

Same product

In [43]:
clients_mostpop_train = train_purch.loc[train_purch.product_id == most_pop, 
                               ['client_id']]\
    .drop_duplicates()
clients_mostpop_train['bought_most_pop'] = 1
clients_mostpop_train.set_index('client_id', drop=True, inplace=True)
clients_mostpop_train

            bought_most_pop
client_id
0001f552b0                1
00020e7b18                1
000220a0a7                1
00031cbbe6                1
0004231e2a                1
...                     ...
fffc2e37ab                1
fffcb91f10                1
fffd5cd0c6                1
fffd63dfe3                1
fffd8c9d7d                1

[96470 rows x 1 columns]

In [44]:
clients_train = clients_train\
    .join(clients_mostpop_train, how='left')\
    .fillna(0)
clients_train

,regular_points_received_mean,regular_points_received_sum,express_points_received_mean,express_points_received_sum,regular_points_spent_mean,regular_points_spent_sum,express_points_spent_mean,express_points_spent_sum,purchase_mean,purchase_sum,...,redeem_delay,monthly_spend_mean,last_month_spend,relative_spend_last_month,regular_points_received_last_month,express_points_received_last_month,regular_points_spent_last_month,express_points_spent_last_month,nunique,bought_most_pop
client_id,,,,,,,,,,,,,,,,,,,,,
000012768d,6.425000,25.7,0.000,0.0,0.000000,0.0,0.000000,0.0,700.750000,2803.00,...,152,785.887850,1222.00,1.554929,5.000000,0.0,0.0,0.0,4,0.0
000036f903,1.715625,54.9,1.875,60.0,0.000000,0.0,0.000000,0.0,306.406250,9805.00,...,13,2674.090909,2968.00,1.109910,1.622222,0.0,0.0,0.0,32,0.0
0001f552b0,5.260000,78.9,0.000,0.0,0.000000,0.0,0.000000,0.0,410.345333,6155.18,...,424,1619.784211,2211.37,1.365225,6.714286,0.0,0.0,0.0,15,1.0
00020e7b18,15.894444,286.1,0.000,0.0,-32.888889,-592.0,-1.666667,-30.0,1434.422778,25819.61,...,44,6735.550435,6096.27,0.905089,11.680000,0.0,-15.2,-2.0,18,1.0
000220a0a7,6.940000,104.1,0.000,0.0,0.000000,0.0,0.000000,0.0,573.771333,8606.57,...,299,2661.825773,3425.43,1.286872,3.262500,0.0,0.0,0.0,15,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fffd5cd0c6,1.950000,35.1,0.000,0.0,0.000000,0.0,0.000000,0.0,318.423889,5731.63,...,454,1577.512844,2581.55,1.636468,1.587500,0.0,0.0,0.0,18,1.0
fffd63dfe3,1.625000,6.5,0.000,0.0,0.000000,0.0,0.000000,0.0,335.127500,1340.51,...,266,681.615254,330.00,0.484144,1.600000,0.0,0.0,0.0,4,1.0
fffd8c9d7d,2.200000,11.0,0.000,0.0,0.000000,0.0,0.000000,0.0,327.306000,1636.53,...,130,463.168868,940.00,2.029497,1.533333,0.0,0.0,0.0,5,1.0
fffe0abb97,2.466667,22.2,0.000,0.0,-2.888889,-26.0,-16.666667,-150.0,301.824444,2716.42,...,76,754.561111,820.72,1.087679,2.433333,0.0,-5.0,-20.0,9,0.0
fffeca6d22,2.962500,47.4,0.000,0.0,0.000000,0.0,0.000000,0.0,177.053750,2832.86,...,692,817.171154,1251.86,1.531943,3.833333,0.0,0.0,0.0,16,0.0

In [45]:
clients_mostpop_test = test_purch.loc[test_purch.product_id == most_pop, 
                               ['client_id']]\
    .drop_duplicates()
clients_mostpop_test['bought_most_pop'] = 1
clients_mostpop_test.set_index('client_id', drop=True, inplace=True)
clients_mostpop_test

            bought_most_pop
client_id
00035a21d9                1
0004315e57                1
0006fca4bf                1
000702109b                1
000a00419c                1
...                     ...
fff989a7a9                1
fff9aa288c                1
fff9f772f6                1
fffe0ed719                1
fffff6ce77                1

[41316 rows x 1 columns]

In [46]:
clients_test = clients_test\
    .join(clients_mostpop_test, how='left')\
    .fillna(0)
clients_test

,regular_points_received_mean,regular_points_received_sum,express_points_received_mean,express_points_received_sum,regular_points_spent_mean,regular_points_spent_sum,express_points_spent_mean,express_points_spent_sum,purchase_mean,purchase_sum,...,redeem_delay,monthly_spend_mean,last_month_spend,relative_spend_last_month,regular_points_received_last_month,express_points_received_last_month,regular_points_spent_last_month,express_points_spent_last_month,nunique,bought_most_pop
client_id,,,,,,,,,,,,,,,,,,,,,
00010925a5,1.766667,31.8,0.0,0.0,-0.944444,-17.0,0.000000,0.0,326.833333,5883.00,...,52,1561.858407,2858.00,1.829871,1.737500,0.0,0.000000,0.0,18,0.0
00035a21d9,7.866667,23.6,0.0,0.0,-2.666667,-8.0,-10.000000,-30.0,597.313333,1791.94,...,21,1452.924324,786.00,0.540978,14.800000,0.0,-8.000000,-30.0,3,1.0
00038f9200,1.725000,82.8,0.0,0.0,-0.604167,-29.0,0.000000,0.0,174.687500,8385.00,...,36,2490.594059,3033.00,1.217782,2.335294,0.0,0.000000,0.0,48,0.0
0004315e57,4.842857,67.8,0.0,0.0,-2.785714,-39.0,-4.285714,-60.0,542.142857,7590.00,...,69,2015.044248,3056.00,1.516592,4.750000,0.0,-2.833333,-5.0,14,1.0
0006fca4bf,11.800000,35.4,0.0,0.0,0.000000,0.0,0.000000,0.0,713.666667,2141.00,...,273,2470.384615,2141.00,0.866667,11.800000,0.0,0.000000,0.0,3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fff9aa288c,4.210000,42.1,0.0,0.0,-4.600000,-46.0,0.000000,0.0,494.211000,4942.11,...,108,1398.710377,191.81,0.137133,0.700000,0.0,-46.000000,0.0,10,1.0
fff9f772f6,23.975000,95.9,0.0,0.0,0.000000,0.0,0.000000,0.0,1563.815000,6255.26,...,605,2039.758696,4084.71,2.002546,37.150000,0.0,0.000000,0.0,4,1.0
fffe0ed719,2.330000,69.9,0.0,0.0,0.000000,0.0,0.000000,0.0,347.249333,10417.48,...,88,2694.175862,8551.48,3.174062,3.147368,0.0,0.000000,0.0,30,1.0
fffea1204c,1.535294,26.1,0.0,0.0,-2.352941,-40.0,0.000000,0.0,252.771765,4297.12,...,40,1216.166038,1746.41,1.435996,1.816667,0.0,-6.666667,0.0,17,0.0
fffff6ce77,6.915625,221.3,0.0,0.0,-9.437500,-302.0,0.000000,0.0,580.018438,18560.59,...,23,5108.419266,4460.00,0.873069,2.490909,0.0,0.000000,0.0,32,1.0

# Days since last transaction

In [47]:
last_transact_test = test_purch\
    .groupby('client_id')\
    .agg({'transaction_datetime': 'max'})
last_transact_test['days_since_last_transact'] =\
    (last_day - last_transact_test.transaction_datetime) //pd.Timedelta('1d')
last_transact_test

           transaction_datetime  days_since_last_transact
client_id
00010925a5  2019-03-08 07:09:50                        10
00035a21d9  2019-03-02 12:18:35                        16
00038f9200  2019-03-18 12:48:40                         0
0004315e57  2019-03-08 11:33:37                        10
0006fca4bf  2019-03-10 06:56:52                         8
...                         ...                       ...
fff9aa288c  2019-03-07 11:30:17                        11
fff9f772f6  2019-03-15 14:30:06                         3
fffe0ed719  2019-03-18 14:23:11                         0
fffea1204c  2019-03-13 11:52:42                         5
fffff6ce77  2019-03-15 17:47:02                         3

[60012 rows x 2 columns]

In [48]:
clients_test = clients_test.join(last_transact_test[['days_since_last_transact']])
clients_test

,regular_points_received_mean,regular_points_received_sum,express_points_received_mean,express_points_received_sum,regular_points_spent_mean,regular_points_spent_sum,express_points_spent_mean,express_points_spent_sum,purchase_mean,purchase_sum,...,monthly_spend_mean,last_month_spend,relative_spend_last_month,regular_points_received_last_month,express_points_received_last_month,regular_points_spent_last_month,express_points_spent_last_month,nunique,bought_most_pop,days_since_last_transact
client_id,,,,,,,,,,,,,,,,,,,,,
00010925a5,1.766667,31.8,0.0,0.0,-0.944444,-17.0,0.000000,0.0,326.833333,5883.00,...,1561.858407,2858.00,1.829871,1.737500,0.0,0.000000,0.0,18,0.0,10
00035a21d9,7.866667,23.6,0.0,0.0,-2.666667,-8.0,-10.000000,-30.0,597.313333,1791.94,...,1452.924324,786.00,0.540978,14.800000,0.0,-8.000000,-30.0,3,1.0,16
00038f9200,1.725000,82.8,0.0,0.0,-0.604167,-29.0,0.000000,0.0,174.687500,8385.00,...,2490.594059,3033.00,1.217782,2.335294,0.0,0.000000,0.0,48,0.0,0
0004315e57,4.842857,67.8,0.0,0.0,-2.785714,-39.0,-4.285714,-60.0,542.142857,7590.00,...,2015.044248,3056.00,1.516592,4.750000,0.0,-2.833333,-5.0,14,1.0,10
0006fca4bf,11.800000,35.4,0.0,0.0,0.000000,0.0,0.000000,0.0,713.666667,2141.00,...,2470.384615,2141.00,0.866667,11.800000,0.0,0.000000,0.0,3,1.0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fff9aa288c,4.210000,42.1,0.0,0.0,-4.600000,-46.0,0.000000,0.0,494.211000,4942.11,...,1398.710377,191.81,0.137133,0.700000,0.0,-46.000000,0.0,10,1.0,11
fff9f772f6,23.975000,95.9,0.0,0.0,0.000000,0.0,0.000000,0.0,1563.815000,6255.26,...,2039.758696,4084.71,2.002546,37.150000,0.0,0.000000,0.0,4,1.0,3
fffe0ed719,2.330000,69.9,0.0,0.0,0.000000,0.0,0.000000,0.0,347.249333,10417.48,...,2694.175862,8551.48,3.174062,3.147368,0.0,0.000000,0.0,30,1.0,0
fffea1204c,1.535294,26.1,0.0,0.0,-2.352941,-40.0,0.000000,0.0,252.771765,4297.12,...,1216.166038,1746.41,1.435996,1.816667,0.0,-6.666667,0.0,17,0.0,5
fffff6ce77,6.915625,221.3,0.0,0.0,-9.437500,-302.0,0.000000,0.0,580.018438,18560.59,...,5108.419266,4460.00,0.873069,2.490909,0.0,0.000000,0.0,32,1.0,3

In [49]:
last_transact_train = train_purch\
    .groupby('client_id')\
    .agg({'transaction_datetime': 'max'})
last_transact_train['days_since_last_transact'] =\
    (last_day - last_transact_train.transaction_datetime) //pd.Timedelta('1d')
last_transact_train

           transaction_datetime  days_since_last_transact
client_id
000012768d  2019-03-14 15:01:47                         4
000036f903  2019-03-17 10:29:37                         1
0001f552b0  2019-03-16 10:54:02                         2
00020e7b18  2019-03-15 12:04:23                         3
000220a0a7  2019-03-12 16:44:43                         6
...                         ...                       ...
fffd5cd0c6  2019-03-18 15:17:33                         0
fffd63dfe3  2019-03-13 08:54:48                         5
fffd8c9d7d  2019-03-08 13:06:17                        10
fffe0abb97  2019-03-15 06:35:50                         3
fffeca6d22  2019-03-15 14:46:39                         3

[140027 rows x 2 columns]

In [50]:
clients_train = clients_train.join(last_transact_train[['days_since_last_transact']])
clients_train

,regular_points_received_mean,regular_points_received_sum,express_points_received_mean,express_points_received_sum,regular_points_spent_mean,regular_points_spent_sum,express_points_spent_mean,express_points_spent_sum,purchase_mean,purchase_sum,...,monthly_spend_mean,last_month_spend,relative_spend_last_month,regular_points_received_last_month,express_points_received_last_month,regular_points_spent_last_month,express_points_spent_last_month,nunique,bought_most_pop,days_since_last_transact
client_id,,,,,,,,,,,,,,,,,,,,,
000012768d,6.425000,25.7,0.000,0.0,0.000000,0.0,0.000000,0.0,700.750000,2803.00,...,785.887850,1222.00,1.554929,5.000000,0.0,0.0,0.0,4,0.0,4
000036f903,1.715625,54.9,1.875,60.0,0.000000,0.0,0.000000,0.0,306.406250,9805.00,...,2674.090909,2968.00,1.109910,1.622222,0.0,0.0,0.0,32,0.0,1
0001f552b0,5.260000,78.9,0.000,0.0,0.000000,0.0,0.000000,0.0,410.345333,6155.18,...,1619.784211,2211.37,1.365225,6.714286,0.0,0.0,0.0,15,1.0,2
00020e7b18,15.894444,286.1,0.000,0.0,-32.888889,-592.0,-1.666667,-30.0,1434.422778,25819.61,...,6735.550435,6096.27,0.905089,11.680000,0.0,-15.2,-2.0,18,1.0,3
000220a0a7,6.940000,104.1,0.000,0.0,0.000000,0.0,0.000000,0.0,573.771333,8606.57,...,2661.825773,3425.43,1.286872,3.262500,0.0,0.0,0.0,15,1.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fffd5cd0c6,1.950000,35.1,0.000,0.0,0.000000,0.0,0.000000,0.0,318.423889,5731.63,...,1577.512844,2581.55,1.636468,1.587500,0.0,0.0,0.0,18,1.0,0
fffd63dfe3,1.625000,6.5,0.000,0.0,0.000000,0.0,0.000000,0.0,335.127500,1340.51,...,681.615254,330.00,0.484144,1.600000,0.0,0.0,0.0,4,1.0,5
fffd8c9d7d,2.200000,11.0,0.000,0.0,0.000000,0.0,0.000000,0.0,327.306000,1636.53,...,463.168868,940.00,2.029497,1.533333,0.0,0.0,0.0,5,1.0,10
fffe0abb97,2.466667,22.2,0.000,0.0,-2.888889,-26.0,-16.666667,-150.0,301.824444,2716.42,...,754.561111,820.72,1.087679,2.433333,0.0,-5.0,-20.0,9,0.0,3
fffeca6d22,2.962500,47.4,0.000,0.0,0.000000,0.0,0.000000,0.0,177.053750,2832.86,...,817.171154,1251.86,1.531943,3.833333,0.0,0.0,0.0,16,0.0,3

# Clients who bought own products

In [51]:
own_products = pd.read_csv('products.csv').query('is_own_trademark == 1')[['product_id']]
own_products

       product_id
10     0012a164c0
23     001c8e3b3a
33     002cd4c65d
70     0067d95477
95     009997f0a4
...           ...
42957  ff78e11173
42966  ff81efc13d
42980  ffa1f745ae
42994  ffba05c8fd
43013  ffd81ad675

[1514 rows x 1 columns]

In [52]:
clients_purch_own_train = train_purch\
    .merge(own_products, on='product_id')[['client_id']]\
    .drop_duplicates()
clients_purch_own_train

          client_id
0        000012768d
1        000ca87889
2        006cf006f4
3        00946ede17
5        00a346bdf8
...             ...
2435383  bed6107c0f
2435771  6e1c9e5cf1
2435819  1dfbfd1444
2436761  96cd3b59f9
2436995  e85099fcad

[135712 rows x 1 columns]

In [53]:
clients_purch_own_train['purchased_own_products'] = 1
clients_purch_own_train.set_index('client_id', drop=True, inplace=True)
clients_purch_own_train

            purchased_own_products
client_id
000012768d                       1
000ca87889                       1
006cf006f4                       1
00946ede17                       1
00a346bdf8                       1
...                            ...
bed6107c0f                       1
6e1c9e5cf1                       1
1dfbfd1444                       1
96cd3b59f9                       1
e85099fcad                       1

[135712 rows x 1 columns]

In [54]:
clients_train = clients_train\
    .join(clients_purch_own_train, how='left')\
    .fillna(0)
clients_train

,regular_points_received_mean,regular_points_received_sum,express_points_received_mean,express_points_received_sum,regular_points_spent_mean,regular_points_spent_sum,express_points_spent_mean,express_points_spent_sum,purchase_mean,purchase_sum,...,last_month_spend,relative_spend_last_month,regular_points_received_last_month,express_points_received_last_month,regular_points_spent_last_month,express_points_spent_last_month,nunique,bought_most_pop,days_since_last_transact,purchased_own_products
client_id,,,,,,,,,,,,,,,,,,,,,
000012768d,6.425000,25.7,0.000,0.0,0.000000,0.0,0.000000,0.0,700.750000,2803.00,...,1222.00,1.554929,5.000000,0.0,0.0,0.0,4,0.0,4,1.0
000036f903,1.715625,54.9,1.875,60.0,0.000000,0.0,0.000000,0.0,306.406250,9805.00,...,2968.00,1.109910,1.622222,0.0,0.0,0.0,32,0.0,1,1.0
0001f552b0,5.260000,78.9,0.000,0.0,0.000000,0.0,0.000000,0.0,410.345333,6155.18,...,2211.37,1.365225,6.714286,0.0,0.0,0.0,15,1.0,2,1.0
00020e7b18,15.894444,286.1,0.000,0.0,-32.888889,-592.0,-1.666667,-30.0,1434.422778,25819.61,...,6096.27,0.905089,11.680000,0.0,-15.2,-2.0,18,1.0,3,1.0
000220a0a7,6.940000,104.1,0.000,0.0,0.000000,0.0,0.000000,0.0,573.771333,8606.57,...,3425.43,1.286872,3.262500,0.0,0.0,0.0,15,1.0,6,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fffd5cd0c6,1.950000,35.1,0.000,0.0,0.000000,0.0,0.000000,0.0,318.423889,5731.63,...,2581.55,1.636468,1.587500,0.0,0.0,0.0,18,1.0,0,1.0
fffd63dfe3,1.625000,6.5,0.000,0.0,0.000000,0.0,0.000000,0.0,335.127500,1340.51,...,330.00,0.484144,1.600000,0.0,0.0,0.0,4,1.0,5,1.0
fffd8c9d7d,2.200000,11.0,0.000,0.0,0.000000,0.0,0.000000,0.0,327.306000,1636.53,...,940.00,2.029497,1.533333,0.0,0.0,0.0,5,1.0,10,1.0
fffe0abb97,2.466667,22.2,0.000,0.0,-2.888889,-26.0,-16.666667,-150.0,301.824444,2716.42,...,820.72,1.087679,2.433333,0.0,-5.0,-20.0,9,0.0,3,1.0
fffeca6d22,2.962500,47.4,0.000,0.0,0.000000,0.0,0.000000,0.0,177.053750,2832.86,...,1251.86,1.531943,3.833333,0.0,0.0,0.0,16,0.0,3,1.0

In [55]:
clients_purch_own_test = test_purch\
    .merge(own_products, on='product_id')[['client_id']]\
    .drop_duplicates()

clients_purch_own_test['purchased_own_products'] = 1
clients_purch_own_test.set_index('client_id', drop=True, inplace=True)
clients_purch_own_test

            purchased_own_products
client_id
00010925a5                       1
01057621c2                       1
01152c175b                       1
012e7e97ae                       1
0131931ccb                       1
...                            ...
2a4efb15d7                       1
ba3006b0c7                       1
ff692728b0                       1
b8d59c1b5c                       1
f530716b83                       1

[58168 rows x 1 columns]

In [56]:
clients_test = clients_test\
    .join(clients_purch_own_test, how='left')\
    .fillna(0)
clients_test

,regular_points_received_mean,regular_points_received_sum,express_points_received_mean,express_points_received_sum,regular_points_spent_mean,regular_points_spent_sum,express_points_spent_mean,express_points_spent_sum,purchase_mean,purchase_sum,...,last_month_spend,relative_spend_last_month,regular_points_received_last_month,express_points_received_last_month,regular_points_spent_last_month,express_points_spent_last_month,nunique,bought_most_pop,days_since_last_transact,purchased_own_products
client_id,,,,,,,,,,,,,,,,,,,,,
00010925a5,1.766667,31.8,0.0,0.0,-0.944444,-17.0,0.000000,0.0,326.833333,5883.00,...,2858.00,1.829871,1.737500,0.0,0.000000,0.0,18,0.0,10,1.0
00035a21d9,7.866667,23.6,0.0,0.0,-2.666667,-8.0,-10.000000,-30.0,597.313333,1791.94,...,786.00,0.540978,14.800000,0.0,-8.000000,-30.0,3,1.0,16,1.0
00038f9200,1.725000,82.8,0.0,0.0,-0.604167,-29.0,0.000000,0.0,174.687500,8385.00,...,3033.00,1.217782,2.335294,0.0,0.000000,0.0,48,0.0,0,1.0
0004315e57,4.842857,67.8,0.0,0.0,-2.785714,-39.0,-4.285714,-60.0,542.142857,7590.00,...,3056.00,1.516592,4.750000,0.0,-2.833333,-5.0,14,1.0,10,1.0
0006fca4bf,11.800000,35.4,0.0,0.0,0.000000,0.0,0.000000,0.0,713.666667,2141.00,...,2141.00,0.866667,11.800000,0.0,0.000000,0.0,3,1.0,8,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fff9aa288c,4.210000,42.1,0.0,0.0,-4.600000,-46.0,0.000000,0.0,494.211000,4942.11,...,191.81,0.137133,0.700000,0.0,-46.000000,0.0,10,1.0,11,1.0
fff9f772f6,23.975000,95.9,0.0,0.0,0.000000,0.0,0.000000,0.0,1563.815000,6255.26,...,4084.71,2.002546,37.150000,0.0,0.000000,0.0,4,1.0,3,1.0
fffe0ed719,2.330000,69.9,0.0,0.0,0.000000,0.0,0.000000,0.0,347.249333,10417.48,...,8551.48,3.174062,3.147368,0.0,0.000000,0.0,30,1.0,0,1.0
fffea1204c,1.535294,26.1,0.0,0.0,-2.352941,-40.0,0.000000,0.0,252.771765,4297.12,...,1746.41,1.435996,1.816667,0.0,-6.666667,0.0,17,0.0,5,0.0
fffff6ce77,6.915625,221.3,0.0,0.0,-9.437500,-302.0,0.000000,0.0,580.018438,18560.59,...,4460.00,0.873069,2.490909,0.0,0.000000,0.0,32,1.0,3,1.0

In [57]:
clients_train.to_csv('clients_train_modified_2.csv')

In [58]:
clients_test.to_csv('clients_test_modified_2.csv')